<body>
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <form class="login">
                    <div class="login__field">
                        <mat-icon>account_circle</mat-icon>
                        <input type="text" [(ngModel)]="usuario" [ngModelOptions]="{standalone: true}" class="login__input" placeholder="Usuario">
                    </div>
                    <div class="login__field">
                        <span class="material-icons">
                            lock
                        </span>
                        <input [(ngModel)]="pass"  [ngModelOptions]="{standalone: true}" type="password" class="login__input" placeholder="Password">
                    </div>
                    <button class="button login__submit" (click)="ingresar()">
                        <span class="button__text">Ingresar</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>				
                </form>
                <div class="social-login">
                    <h3>TDM</h3>
                    <img src="/assets/imagenes/logo.png">
                    <div class="social-icons">
                        <a href="#" class="social-login__icon fab fa-instagram"></a>
                        <a href="#" class="social-login__icon fab fa-facebook"></a>
                        <a href="#" class="social-login__icon fab fa-twitter"></a>
                    </div>
                </div>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>		
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>		
        </div>
    </div> 
</body>

